<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- SOURCE REFRESHED -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="XmlParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ZipFolderPath" value="D:\Projects\XmlGeneration\XmlParser\ZipArchives\" />
    <add key="SourceXmlFolderPath" value="D:\Projects\XmlGeneration\XmlParser\SourceXmlFiles\" />
    <add key="OutputFolderPath" value="D:\Projects\XmlGeneration\XmlParser\Output\" />
    <add key="SMPT_SERVER" value="smtp.gmail.com"/>
    <add key="SMPT_USER" value="errorreporter2016@gmail.com"/>
    <add key="SMPT_PASS" value="coolgool"/>
    <add key="SMPT_PORT" value="587"/>
    <add key="ERR_MAIL_TO" value="postman2021@gmail.com"/>
    <add key="ERR_MAIL_SUB" value="EPG Application Error"/>
    <add key="XML_PATH" value="D:\\Projects\\XmlGeneration\\XmlParser\\Output\\"/>
    <add key="SVC_USR" value="adminsvc@channelsvc.com"/>
    <add key="SVC_PWD" value="I(0)1stog"/>
    <add key="PastXmlFolderPath" value="C:\inetpub\wwwroot\XmlParser.PastData\"/>
  </appSettings>
  <system.web>
    <customErrors mode="On" defaultRedirect="../CustomError.aspx">
      <!--<error statusCode="404" redirect="../CustomError.aspx" />-->
    </customErrors>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" maxRequestLength="1048576" />
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <connectionStrings>
    <add name="EPGDataModel" connectionString="data source=DESKTOP-QKLP0D9;initial catalog=EpgXmlData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <XmlParser.Properties.Settings>
      <setting name="XmlParser_ChannelWebService_ChannelService" serializeAs="String">
        <value>http://localhost:1410/ChannelService.asmx</value>
      </setting>
      <setting name="XmlParser_FullChannelWebService_FullChannelService"
        serializeAs="String">
        <value>http://localhost:1410/FullChannelService.asmx</value>
      </setting>
    </XmlParser.Properties.Settings>
  </applicationSettings>
</configuration>