<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="RecycleXmlFolderPath" value="C:\inetpub\wwwroot\XmlParser.PastData\RecycleBin\"/>
    <add key="PastXmlFolderPath" value="C:\inetpub\wwwroot\XmlParser.PastData\"/>
    <add key="OutputFolderPath" value="D:\Projects\XmlGeneration\XmlParser\Output\"/>
  </appSettings>
</configuration>